﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
    //Layout = null;
    ViewData["Title"] = "Detail Customer";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


          <div class="mb-4 row a">
            <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer" readonly>
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" readonly>
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" readonly>
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Address" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" readonly>
              
            </div>
          </div>

          <div class="mb-4 row a">
            <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" readonly>
              
            </div>
          </div>

          <div class="mb-4 row a">
            <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
              
            </div>
          </div>

 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back To List</a>
            </div>
          </div>

    </div>
</div>