﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
    //Layout = null;
    ViewData["Title"] = "Edit Customer";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
          <div class="mb-4 row a">
            <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
              
            </div>
          </div>

		  <div class="mb-4 row a">
            <label for="Address" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
              
            </div>
          </div>

          <div class="mb-4 row a">
            <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
              
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="IdRole" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
              @Html.DropDownList("IdRole", 
              new SelectList(ViewBag.ListRole, "Id", "RoleName"),
              "--Pilih Role Name--", 
              new { @class= "form-control" }
              )
            </div>
          </div>

 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			NameCustomer: {
				required: true,
				minlength: 5
			},
            Email:{
                required:true,
                email:true
            },
            Password:{
                required:true,
                minlength:8
            },
            Address:{
                required:true,
            },
            Phone:{
                required:true,
                number:true,
                minlength:12
            },
			IdRole: "required",
		},
		messages: {
			NameCustomer: {
				required: "Please fill name Customer!",
				minlength: "The Name must consist of at least 5 character!",
			},
            Email:{
                required:"Please fill Email",
                email:"Plese fill input email only"
            },
            Password:{
                required:"Please fill password",
                minlength:"The Name must consist of at least 8 character!"
            },
            Address:{
                required:"Please fill Address",
            },
            Phone:{
                required:"Please fill Address",
                number:"please fill number only",
                minlength:"The Phone must consist of at least 12 lenght number"
            },
			IdRole: "Plese Select Role",
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			

			$.ajax({
				url: "/Customer/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						//Toast.fire({
						//    icon: "Failed",
						//    title: data.message
						//})
						toastr.error(data.message)
					}
				}
			})
		}
	})

    
</script>
