﻿@using System.Globalization
@using xpos314.datamodels
@using xpos314.viewmodels
@model PaginatedList<VMTblCustomer>

@{
    //Layout = null;
    ViewData["Title"] = "Customer";

}



<div class="card">
    <div class="card-header">

         <div class="row mb-3">
               <div class="col-12">
                   <div class="card-title">@ViewData["Title"]</div>
                   <div class="d-flex justify-content-between">
                        <button type="button" id="btn_create" class="btn btn-outline-dark">Create</button>
                       
                            <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                                <div class="input-group w-100">
                                    <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" title="search">
                                            <i class="fas fa-search"></i>
                                        </button>

                                        <a class="btn btn-default" asp-action="Index" title="reset">
                                            <i class="fas fa-redo"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
         </div>
       
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                                <i class="fas fa-sort"></i>
                                Name Customer
                            </a>
                        </th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Role Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count != 0)
                    {
                        @foreach (VMTblCustomer item in Model)
                        {
                            <tr>
                                <td>@item.NameCustomer</td>
                                <td>@item.Email</td>
                                <td>@item.Password</td>
                                <td>@item.Address</td>
                                <td>@item.Phone</td>
                                <td>@item.RoleName</td>
                                

                                <td>
                                    <button type="button" class="btn btn-outline-dark btn_edit" dataid="@item.Id">
                                        Edit
                                    </button>

                                    <button type="button" class="btn btn-outline-dark btn_detail" dataid="@item.Id">
                                        Detail
                                    </button>

                                    <button type="button" class="btn btn-outline-dark btn_delete" dataid="@item.Id" >
                                       Delete
                                    </button>

                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <i>Data not found</i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- card-body -->

        <div class="card-footer">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="row">
                <div class="col-2">

                    <form asp-action="Index" id="form_pagesize">
                        <select name="PageSize" id="PageSize"
                                class="form-control">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </form>
                </div>
                <div class="col-10">
                    Page @Model.PageIndex of @Model.TotalPages
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="btn btn-info float-right @nextDisabled">
                        Next
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="mr-2 btn btn-info float-right @prevDisabled">
                        Previous
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){

        

        $("#btn_create").click(function(){
            $("#myModal_body").empty();
            $("#myModal_body").load("/Customer/Create")
            $("#myModal").modal("show");
        });

        $(".btn_detail").click(function(){

            var id = $(this).attr("dataid")
            $("#myModal_body").empty();
            $("#myModal_body").load("/Customer/Detail?id="+id)
            $("#myModal").modal("show");
        });

        $(".btn_edit").click(function(){

            var id = $(this).attr("dataid")
            $("#myModal_body").empty();
            $("#myModal_body").load("/Customer/Edit?id="+id)
            $("#myModal").modal("show");
        });

        $(".btn_delete").click(function(){
            var id = $(this).attr("dataid");
            $("#myModal_body").empty();
            $("#myModal_body").load("/Customer/Delete?id="+id)
            $("#myModal").modal("show");
        });

        $("#PageSize").val(@ViewBag.CurrentPageSize)

        $("#PageSize").change(function(){
            $("#form_pagesize").submit();
        })

    });
</script>