﻿<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" 
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Master</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" asp-controller="Friend" asp-action="Index" 
                        aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                            class="hide-menu">Friend
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="CategoryTry" asp-action="Index" 
                        aria-expanded="false"><i data-feather="message-square" class="feather-icon"></i><span
                            class="hide-menu">Category Try</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="VariantTry" asp-action="Index"
                        aria-expanded="false"><i data-feather="calendar" class="feather-icon"></i><span
                            class="hide-menu">Variant Try</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Category" asp-action="Index"
                    aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                        class="hide-menu">Category</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Variant" asp-action="Index"
                    aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                        class="hide-menu">Variant</span></a></li>


                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Product" asp-action="Index"
                    aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                        class="hide-menu">Product</span></a></li>

                

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Transaction</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" asp-controller="Order" asp-action="Catalog" 
                        aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                            class="hide-menu">Menu Catalog</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Order" asp-action="HistoryOrder" 
                        aria-expanded="false"><i data-feather="message-square" class="feather-icon"></i><span
                            class="hide-menu">History Order</span></a>
                </li>

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Configuration</span></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Role" asp-action="Index" 
                        aria-expanded="false"><i data-feather="message-square" class="feather-icon"></i><span
                            class="hide-menu">Role</span></a>
                </li>

                 <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Customer" asp-action="Index" 
                        aria-expanded="false"><i data-feather="message-square" class="feather-icon"></i><span
                            class="hide-menu">Customer</span></a>
                </li>

                 
                
                
               
                <li class="list-divider"></li>
                
                
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="authentication-login1.html"
                        aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">Logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
