﻿@{
    Layout = null;
    ViewData["Title"] = "Detail Category Try";
}

<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        
          <div class="mb-4 row a">
            <label for="NameCategory" class="col-sm-2 col-form-label">Name Category</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
              
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              
              <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back To List</a>
            </div>
          </div>
        

    </div>
</div>
