﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    //Layout = null;
    ViewData["Title"] = "Edit Category Try";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
          <div class="mb-4 row a">
            <label for="NameCategory" class="col-sm-2 col-form-label">Name Category</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
              <span asp-validation-for="NameCategory" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>