﻿@using xpos314.viewmodels
@{
    ViewData["Title"] = "Category Try";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">@ViewData["Title"]</h1>

        @*<div class="mb-2 row">
            <form asp-action="Index" method="get" id="form_search">
                <div class="col-12">
                    <div class="customize-input float-right">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchString" value="@ViewBag.currentFilter" placeholder="Search.."/>
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary" id="btn_search">
                                    <i class="bi bi-search"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>*@

        <button type="button" class="btn btn-primary" id="btn_create">Create</button>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name Category</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
                @foreach(VMTblCategory item in Model)
                {
                     <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.NameCategory</td>
                        <td>@item.Description</td>
                        <td>
                            <button type="button" class="btn btn-outline-dark btn_edit" data-id="@item.Id">Edit</button>
                            <button type="button" class="btn btn-outline-dark btn_detail" data-id="@item.Id">Detail</button>
                            <button type="button" class="btn btn-outline-dark btn_delete" data-id="@item.Id">Delete</button>

                        </td>
                    </tr>
                }
       

          </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#btn_create").click(function(){
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Create")
            $("#myModal").modal("show")
            
        })
        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Edit?id=" + id)
            $("#myModal").modal("show")
        })
         $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Detail?id=" + id)
            $("#myModal").modal("show")
        })

        $(".btn_delete").click(function(){
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Delete?id=" + id)
            $("#myModal").modal("show")
        })
        
    })
</script>
