﻿@using xpos314.datamodels
@model TblCategory
@{
    //Layout = null;
    ViewData["Title"] = "Create Category";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Create" method="post" id="form_input">
          <div class="mb-4 row a">
            <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
              <span id="validate_NameCategory" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCategory: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			NameCategory: {
				required: "Please fill name Category!",
				minlength: "The Name must consist of at least 5 character!",
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			var nameCategory = $("#NameCategory").val();

			$.ajax({
				url: "/Category/CheckNameIsExist",
				//method: "GET"
				type: "GET",
				data: { nameCategory: nameCategory },
				dataType: "json",
				success: function (respon) {
					if (respon) {
						$("#validate_NameCategory").text("Name Category is already exist")
						return true
					}
					else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Category/Create",
			type: "POST",
			dataType: "json",
			data: dataParam,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					//Toast.fire({
					//    icon: "Failed",
					//    title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
	}


</script>