﻿@using xpos314.datamodels
@model TblCategory
@{
    //Layout = null;
    ViewData["Title"] = "Delete Category";

}

<div class="card">
    <div class="card-body">
        <div class="h6 mb-4">@ViewData["Title"]</div>
        <form asp-action="SureDelete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />

            <h4>Are you Sure for delete @Model.NameCategory ?</h4>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-light">Back To List</a>
            </div>
        </form>

    </div>
</div>