﻿@using xpos314.viewmodels
@model VMTblProduct
@{
    //Layout = null;
    ViewData["Title"] = "Edit Variant";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" enctype="multipart/form-data" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
          <div class="mb-4 row a">
            <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
              
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
              @Html.DropDownList("IdCategory", 
              new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
              "--Pilih Kategori--", 
              new { @class= "form-control" }
              )
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
            <div class="col-sm-8">
              @Html.DropDownList("IdVariant", 
              new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),
              "--Pilih Variant--", 
              new { @class= "form-control" }
              )
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="ImageFile" class="col-sm-4 col-form-label">Upload</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
			  <br />
			  @{
				  if(@Model.Image != null)
				  {
					  <img src="~/images/@Model.Image" class="rounded-circle" height="80" width="80" />
					  <input type="hidden" name="Image" value="@Model.Image"/>
				  }
			  }
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			NameProduct:{
				required:true,
				minlength:5
			},
			Price: {
				required:true,
				number:true
			},
			Stock:{
				required:true,
				number:true
			},
			IdCategory: "required",
			IdVariant: "required",
			//ImageFile:{
			//	//required:true,
			//	typeFile: "jpg|jpeg|png",
			//	uploadFile: true,
			//}
		},
		messages: {
			NameProduct:{
				required:"please fill name product",
				minlength:"the name must consist of at least 5 characters"
			},
			Price:{
				required:"please fill price",
				number:"please fill number only"
			},
			Stock:{
				required:"please fill stock",
				number:"please fill number only"
			},
			IdCategory: "please select category",
			IdVariant: "please select variant",
			//ImageFile:{
			//	//required:"please fill image",
			//	typeFile: "please upload jpg|jpeg|png",
			//	uploadFile:"please upluad file max size 1 mb",
			//}
		},
		submitHandler: function (form) {

			var formData = new FormData()

			var dataForm = $(form).serializeArray()

			$.each(dataForm, function(key, input){
				formData.append(input.name, input.value)
			})

			var file = $("#ImageFile").prop("files")
			if(file.length > 0){
				formData.append("ImageFile", file[0])
			}
			
			$.ajax({
				url: "/Product/Edit",
				type: "POST",
				dataType: "json",
				contentType: false,
				processData: false,
				data: formData,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						//Toast.fire({
						//    icon: "Failed",
						//    title: data.message
						//})
						toastr.error(data.message)
					}
				}
			})
		}
	})

	jQuery.validator.addMethod("typeFile", function(value, element, param) {
		return value.match(new RegExp("." + param + "$"));
	});

	jQuery.validator.addMethod("uploadFile", function(val, element){
		
		var size = element.files[0].size;

		if(size > 1048576) // checks the file more than 1mb
		{
			return false;
		} else {
			return true;
		}
	});

	$("#IdCategory").change(function(){
		var IdCategory = $(this).val()
		$.ajax({
			url:"/Product/GetDataByIdCategory",
			data:{ id : IdCategory },
			type:"GET",
			dataType:"json",
			success:function(respon){
				
				$("#IdVariant").empty()
				$("#IdVariant").append("<option>--Pilih Variant--</option>")
				$.each(respon, function(index, res){
					$("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant + "</option>")
				})
			}
		})
	})
</script>
