﻿@using xpos314.datamodels
@model TblRole
@{
    //Layout = null;
    ViewData["Title"] = "Create Role";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Create" method="post" id="form_input">
          <div class="mb-4 row a">
            <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
              <span id="validate_RoleName" class="text-danger"></span>
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			RoleName: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			RoleName: {
				required: "Please fill Role Name!",
				minlength: "The Name must consist of at least 5 character!",
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			var roleName = $("#RoleName").val();

			$.ajax({
				url: "/Role/CheckNameIsExist",
				//method: "GET"
				type: "GET",
				data: { roleName: roleName },
				dataType: "json",
				success: function (respon) {
					if (respon) {
						$("#validate_RoleName").text("Role Name is already exist")
						return true
					}
					else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Role/Create",
			type: "POST",
			dataType: "json",
			data: dataParam,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					//Toast.fire({
					//    icon: "Failed",
					//    title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
	}


</script>
