﻿@using xpos314.datamodels
@model TblRole
@{
    //Layout = null;
    ViewData["Title"] = "Detail Role";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
          <div class="mb-4 row a">
            <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
              <span id="validate_RoleName" class="text-danger"></span>
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
             
              <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>
            </div>
          </div>
        

    </div>
</div>
