﻿@using xpos314.datamodels
@using xpos314.viewmodels
@model VMTblVariant
@{
    //Layout = null;
    ViewData["Title"] = "Edit Variant";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
          <div class="mb-4 row a">
            <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant">
              <span id="validate_NameVariant" class="text-danger"></span>
            </div>
          </div>

		   <div class="mb-4 row">
            <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
              @Html.DropDownList("IdCategory", 
              new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
              "--Pilih Kategori--", 
              new { @class= "form-control" }
              )
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			NameVariant: {
				required: true,
				minlength: 5,
			},
			IdCategory: "required",
		},
		messages: {
			NameVariant: {
				required: "Please fill name Variant!",
				minlength: "The Name must consist of at least 5 character!",
			},
			IdCategory: "Plese Select Category",
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			

			$.ajax({
				url: "/Variant/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						//Toast.fire({
						//    icon: "Failed",
						//    title: data.message
						//})
						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>
