﻿@model Friend
@{
    ViewData["Title"] = "Edit Friend";
}

<div class="display-6">@ViewData["Title"]</div>

<form action="Edit" method="post">
  <div class="mb-4 row">
    <label for="Id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
    </div>
  </div>
  <div class="mb-4 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
    </div>
  </div>

  <div class="mb-4 row">
    <label for="Address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
    </div>
  </div>
 
  <div class="mb-4 row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back To List</a>
    </div>
  </div>
</form>
