﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page Friend";

}

<h2 class="display-6">@ViewData["Title"] (From Return View)</h2>

<a class="btn btn-primary" asp-controller="Friend" asp-action="Create">Create</a>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        @foreach(Friend item in Model)
        {
             <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Deteail</a>
                    <a class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
       

  </tbody>
</table>


@*<h2 class="display-4">Page Friend (From ViewBag)</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        @foreach(Friend item in @ViewBag.listFriend)
        {
             <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Adress</td>
                <td>
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-success">Deteail</a>
                    <a class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
       

  </tbody>
</table>*@